@import '@app/styles/globals.scss';

.simulation-form {
  .paragraph-class {
    margin: 0;
  }

  .form-select {
    margin-top: 30px;
  }

  .value-simulated {
    margin-top: 22px;
    margin-bottom: 8px;
  }

  .value {
    font-size: 38px;
    line-height: 45px;
  }

  .submit-simulation {
    width: unset;
    margin-top: 22px;
  }
}