@import '@app/styles/globals.scss';

.simulation-form {
  .paragraph-class {
    margin: 0;
  }

  .form-select {
    margin-top: 20px;

    #mui-component-select-cities {
      padding-left: 2px !important;
    }

    .MuiInputLabel-formControl {
      transform: translate(15px, 5px);
    }

    .MuiFormLabel-filled {
      font-size: 12px;
      transform: translate(15px, -15px);
    }
  }

  .submit-simulation {
    width: unset;
    margin-top: 30px;
  }

  .theme-filter {
    margin-top: 35px;

    .h3-class {
      font-weight: 500;
      font-size: 16px;
      color: $black;

      span {
        display: none;
      }
    }

    .show-more {
      font-size: 14px;
    }

    p {
      display: none;
    }

    .MuiFormControlLabel-label {
      font-size: 14px;
    }
  }

  .select-with-search {
    margin-top: 30px;

    .MuiInputLabel-formControl {
      transform: translate(15px, -10px);
    }

    .MuiFormLabel-filled, label.Mui-focused {
      font-size: 12px;
      transform: translate(15px, -25px);
    }
  }

  .success-message {
    margin-top: 20px;
    color: $green;
  }

  .selected-cities {
    display: flex;

    .selected-city {
      cursor: pointer;
      background-color: $gray2;
      padding: 5px 10px;
      margin-right: 5px;

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}