@import '/src/styles/globals.scss';

.login-form {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.3);
  top: 0;
  left: 0;
  z-index: 99999;
  align-items: center;
  display: flex;

  .container {
    animation: fadeIn 0.4s;
  }

  .login-modal {
    background-color: $white;
    padding: 24px 24px;
    height: 100vh;
    min-width: 350px;
    overflow-y: auto;
    overflow-x: hidden;

    
    @media only screen and (min-width: $desktopSize) {
      height: unset;
    }
  }

  .close-icon {
    margin-bottom: 20px;
    color: $black;
  }

  .thin-line {
    width: calc(100% + 46px);
    margin-left: -24px;
  }

  .password-field img {
    top: calc(50% + 2px);
  }

  .logo {
    width: 164px;
    margin: 32px 0;
  }

  .h3-style {
    margin: 0;
  }

  .paragraph-style {
    margin: 10px 0;
  }

  form {
    margin-top: 8px;
  }

  .error {
    color: $red;
    font-size: 14px;
    margin: 0px 0 15px;
  }

  .submit-login {
    margin-bottom: 32px;
  }

  .registration-link {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .blue-link {
    margin-left: 5px;
  }
}

@keyframes fadeIn {
  0% {
    transform: translate(0, 50px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}