$green: rgba(82, 206, 95, 1);
$red: #d32f2f;
$lightGreen: rgba(127, 227, 137, 1);
$darkBlue: rgba(23, 32, 48, 1);
$blue: rgba(62, 109, 194, 1);
$gray: rgba(172, 181, 189, 1);
$lightGray: rgba(221, 226, 229, 1);
$darkGray: rgba(73, 80, 87, 1);
$black: #000;