@import '/src/ui/utils/colors.scss';

.search-filter {
  overflow-x: hidden;
  animation: slideIn 0.4s;

  .MuiInput-underline:before {
    border-bottom: 2px solid $gray !important;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
