@import '/src/styles/globals.scss';

.search-filter {
  overflow-x: hidden;
  animation: slideIn 0.4s;
  background-color: $white; 
  width: 100vw; 
  height: 100%;
  
  @media only screen and (min-width: $desktopSize) {
    width: 100%; 
  }

  .MuiInput-underline:before {
    border-bottom: 2px solid $gray !important;
  }

  .mobile-header {
    padding: 22px 24px 10px;
  }

  .close-icon-area {
    width: 50%;
  }

  .mobile-title {
    font-size: 18px;
    margin-left: 20px;
  }

  .blue-link {
    font-size: 14px;
  }

  .filters {
    padding: 42px 24px;
    
    .h3-class {
      position: relative;
      margin: 24px 0;
    }

    p {
      margin: 0 0 12px;
    }
  }

  .entity-filter {
    padding-bottom: 50px;

    .h3-class {
      margin: 24px 0;
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
