.low-opacity {
  opacity: 0.4;
}

.validation {
  .validator {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 8px;
  }

  .icon {
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }

  svg {
    position: absolute;
    top: 0px;
  }
}