@import '@app/styles/globals.scss';

.forgot-password-modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 9999;

  .content {
    position: absolute;
    height: 100vh;
    min-width: 350px;
    background-color: $white;
    padding-top: 40px;

    .modal-padding {
      padding: 0 24px 24px;
    }

    @media only screen and (min-width: $desktopSize) {
      padding-top: 24px;
      height: unset;

      .modal-padding {
        padding: 0 40px 40px;
      }
    }
  }

  .success {
    padding-top: 24px;
  }

  .send-error {
    margin-bottom: 20px;
  }

  .close-icon {
    margin-bottom: 20px;
    color: $black;
    margin-left: 24px;

    @media only screen and (min-width: $desktopSize) {
      margin-left: 40px;
    }
  }
}