@import '@app/styles/globals.scss';

.forgot-password-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.3);
  top: 0;
  left: 0;
  z-index: 99999;
  align-items: center;
  display: flex;

  .container {
    animation: fadeIn 0.4s;
  }

  .forgot-password-content {
    background-color: $white;
    padding: 24px 24px;
    height: 100vh;
    min-width: 350px;
    overflow-y: auto;
    overflow-x: hidden;

    @media only screen and (min-width: $desktopSize) {
      height: unset;
      min-height: 580px;
    }

    .modal-padding {
      padding-top: 40px;
      display: flex;
      align-items: center;
    }
  }

  .success {
    padding-top: 40px;
    width: 80%;
    margin-left: 10%;
  }

  .thin-line {
    width: calc(100% + 46px);
    margin-left: -24px;
  }

  .send-error {
    margin-bottom: 20px;
  }

  .close-icon {
    margin-bottom: 20px;
    color: $black;
  }
}