@import './colors.scss';

#root {
  .font-white-bold {
    font-size: 16px;
    font-weight: 600;
    color: $white;
  }

  .font-dark-blue {
    font-size: 16px;
    font-weight: 600;
    color: $darkBlue;
  }

  .font-small-button {
    font-size: 14px;
    font-weight: 600;
  }

  .font-sora {
    font-family: Sora;
  }
}