$primary: #32612A;
$primaryDark: #A4B57A;
$secundary: #296566;
$terciary: #EE7917;
$lightYellow: #f8f4dd;
$red: #d32f2f;
$dark: #0c180a;
$gray: #acb5bd;
$gray1: #c4c4c4;
$gray2: #dde2e5;
$gray4: #6a7784;
$gray5: #495057;
$lightGray2: #ebeff5;
$lightGray3: #f6f8fb;
$lightGray4: #f4f6f8;
$darkGray: #495057;
$darkGray1: #212429;
$black: #000;
$white: #fff;

$baseGray1: #d6dfd4;
$baseGray2: #c2d1a5;
$baseGray3: #b6c495;

// SCREEN SIZES
$mobileSize: 600px;
$desktopSize: 1180px;
$maxWidthMobile: calc($desktopSize - 0.1px);