@import '@app/styles/globals.scss';

#root {
  .footer {
    background-color: $darkBlue;
    padding-top: 60px;
    padding-bottom: 80px;
    color: $gray;
    font-size: 14px;
    font-weight: 600;

    @media only screen and (max-width: $desktopSize) {
      padding-bottom: calc(80px - 16px);
    }

    .footer-links {
      display: flex;

      @media only screen and (max-width: $desktopSize) {
        display: block;
        padding-top: 56px;
      }
    }

    .footer-link {
      width: calc(100% / 4);

      a {
        color: $gray;
      }

      @media only screen and (max-width: $desktopSize) {
        width: 100%;
        margin: 0 0 16px;
      }
    }

    .footer-links {
      width: calc(90% - 160px);

      @media only screen and (max-width: $desktopSize) {
        width: 100%
      }
    }

    img {
      width: 160px;
    }
  }
}