@import '@app/styles/globals.scss';

.about-page {
  .top-space {
    background-color: $secundary;
  }
  .h2-class {
    font-family: Sora;
  }

  .about-header {
    .paragraph-class {
      color: $white;
      margin-bottom: 0;
    }

    .h2-class {
      margin: 8px 0;
      color: $white;
    }
  }

  .banner {
    height: 360px;
    overflow: hidden;
    margin-top: -2px;

    img {
      width: 100%;
    }
  }

  .subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-top: 8px;
    color: $gray5;
  }

  .partners {
    .partners-list {
      padding-top: 10px;
      justify-content: center;
    }

    .partner-link {
      width: 100%;
      text-align: center;
    }

    .partner-logo {
      max-width: 65%;
      height: 50px;
      margin-bottom: 16px;
      display: flex;
      align-items: center;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .blue-link {
      font-size: 14px;
    }
  }

  .partners-title {
    margin-bottom: 0;
  }

  .partner-box {
    width: 100%;
    padding: 32px 0;
    border-bottom: 1px solid $gray2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;

    &:last-of-type {
      border-bottom: 0;
    }
  
    @media only screen and (min-width: $desktopSize) {
      padding: 0;
      width: calc((100% / 4) - 12px);
      border-bottom: 0;
    }
  }
}

