@import '/src/styles/globals.scss';

.about-page {
  .top-space {
    background-color: $blue;
  }
  .h2-class {
    font-family: Sora;
  }

  .about-header {
    .paragraph-class {
      color: $white;
      margin-bottom: 0;
    }

    .h2-class {
      margin: 8px 0;
      color: $white;
    }
  }

  .banner {
    height: 360px;
    overflow: hidden;
    margin-top: -2px;

    img {
      width: 100%;
    }
  }

  .subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-top: 8px;
    color: $gray5;
  }

  .partners {
    .partners-list {
      padding-top: 10px;
    }

    .partner-logo {
      margin-bottom: 16px;
    }

    .blue-link {
      font-size: 14px;
    }
  }

  .partner-box {
    width: 100%;
    padding: 32px 0;
    border-bottom: 1px solid $gray2;

    &:last-of-type {
      border-bottom: 0;
    }
  
    @media only screen and (min-width: $desktopSize) {
      padding: 0;
      width: calc(100% / 6);
      border-bottom: 0;
    }
  }
}

