.change-password-fields {
  .form-input {

    label {
      transform: translate(15px, 0px);

      &.Mui-focused, &.MuiFormLabel-filled  {
        transform: translate(15px, -20px);
      }
    }

    .MuiInput-underline {
      margin-top: 5px;
      padding-bottom: 5px;
    }
  }
}