@import '@app/styles/globals.scss';

.loading-area {
  z-index: 99999;

  &.relative-loading {
    position: relative;
    background-color: $white;
    height: calc(100vh - 350px);
    z-index: 99;
    max-width: 100%;
  }

  .lds div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: $primaryDark;
    animation: lds 1.4s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    border-radius: 3px;
  }
  .lds div:nth-child(1) {
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds div:nth-child(2) {
    left: 32px;
    animation-delay: -0.2s;
  }
  .lds div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  
  .lds {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

.loading-box {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  background-color: $white;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}