@import '@app/styles/globals.scss';

.select-with-search {
  position: relative;

  input {
    padding: 15px 0;
  }

  img {
    position: absolute;
    right: 0;
    bottom: 22px;
  }

  .select-menu {
    background-color: $white;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 3px 4px 13px 3px rgb(0 0 0 / 10%);
    z-index: 99;

    .option {
      padding: 10px 20px;
      cursor: pointer;

      &:hover {
        background-color: rgb(243, 243, 243);
      }
    }
  }

  .seleted-citites {
    display: flex;
    flex-wrap: wrap;

    .selected-city {
      font-size: 12px;
      margin-right: 10px;
      padding: 6px 10px;
      background-color: rgba(240, 240, 240);
      border-radius: 10px;

      span {
        font-size: 10px;
        margin-left: 5px;
        color: rgba(0,0,0, 0.7);
        cursor: pointer;
      }
    }
  }
}