.low-opacity {
  opacity: 0.4;
}

.validation {
  margin-top: 25px;

  .validator {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 8px;
    font-size: 12px;
  }

  .icon {
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  svg {
    width: 100%;
    position: absolute;
    top: -6px;
  }
}