.login-form {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.3);
  top: 0;
  left: 0;
  z-index: 99999;
  align-items: center;
  display: flex;

  .container {
    animation: fadeIn 0.4s;
  }
}

@keyframes fadeIn {
  0% {
    transform: translate(0, 50px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}