@import '@app/styles/globals.scss';

.lead-session {
  font-size: 14px;
  color: $white;

  &.top-space {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .banner-content {
    margin-bottom: 10px;
  }

  .banner-container {
    padding-left: 26px;
    padding-right: 26px;
  
    @media only screen and (min-width: $desktopSize) {
      padding-left: 230px;
      padding-right: 0;
      max-width: 45%;
    }
  }

  .title {
    font-size: 50px;
    font-weight: 600;
    font-family: Sora;
    color: $white;
    margin: 0;

    span {
      color: $primaryDark;

      @media only screen and (min-width: $desktopSize) {
        color: $white;
      }
    }
  }

  .description {
    font-size: 20px;
    color: $white;

    @media only screen and (min-width: $desktopSize) {
      margin-top: 16px;
    }
  }

  .start-search {
    min-width: 200px;
    margin-bottom: 80px;
    
    @media only screen and (min-width: $desktopSize) {
      margin-bottom: 0px;
    }
  }

  .image-area {
    @media only screen and (max-width: $maxWidthMobile) {
      margin-bottom: -40%;
      padding-left: 0px;
      padding-right: 0px;
    }

    img {
      max-height: 550px;
      max-width: 100%;
    }
  }
}