@import '@app/styles/globals.scss';

.alert-item {
  background-color: $white;
  margin-bottom: 24px;
  padding: 40px 26px;
  width: calc(100% - 52px);
  position: relative;

  @media only screen and (min-width: calc($mobileSize + 100px)) {
    width: calc((100% / 2) - 100px - 24px);
    margin-right: 24px;
    padding: 40px 50px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media only screen and (min-width: $desktopSize) {
    width: calc((100% / 3) - 100px - 24px);
    &:nth-child(2n) {
      margin-right: 24px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .filters-items {
    margin-bottom: calc(32px + 28px);
  }

  .filter-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
    color: $gray5;
  }

  .key-words {
    margin: 0 0 16px;
    font-weight: 500;
    font-size: 20px;
  }

  .filter-item {
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 20px;
    display: flex;
    align-items: center;

    img {
      margin-right: 20px;
      width: 20px;
    }
  }

  hr {
    margin-bottom: 16px;
  }

  .hyper-link {
    position: absolute;
    bottom: 40px;
  }
}