@import '/src/styles/globals.scss';

.list div{
  padding-left: 22px;
  position: relative;

  &::after {
    content: '●';
    color: $gray5;
    font-size: 9px;
    left: 0;
    top: 0px;
    position: absolute;
  }
}

.terms {
  .terms-session {
    border-top: 1px solid $gray2;
  }

  .font-sora {
    font-weight: 600;
    color: $black; 
    font-size: 38px; 
    line-height: 48px; 
    margin-bottom: 34px;
  }

}