@import '@app/styles/globals.scss';

.registration-form {
  .MuiInput-input {
    &::placeholder {
      opacity: 1 !important;
    }
  }

  .h3-class {
    font-family: Sora;
  }

  .MuiInput-root:before {
    border-bottom: 2px solid $gray !important;
  }

  .select-area-class {
    margin-top: 40px;
  }

  .first-input {
    margin-top: 10px;
  }

  .city-input {
    margin-top: 12px;
  }

  .paragraph-class {
    color: $gray5;
  }

  .base-button.hover-animation {
    transition: 0s;
  }
  
  .submit-registration {
    margin-top: 26px;
  }
  
  .select-area-class {
    margin-top: 32px;
    color: black
  };
  
  .link-class {
    width: 50%;
    height: 100%;
    font-size: 14px;
  }
  
  .step-class {
    width: 24px;
    height: 22px;
    text-align: center;
    margin-right: 14px;
    transition: 0.4s;
    color: $gray5;
    font-size: 18px;
  }
  
  .step-selected-class {
    @extend .step-class;
    background-color: rgba(127, 227, 137, 0.45);
  }
  
  .steps-area {
    padding: 45px 0;
    overflow-x: hidden;
                  
    @media only screen and (min-width: $desktopSize) {
      padding: 56px 0 0;
    }
  }
  
  .steps {
    display: flex;
    margin-bottom: 38px;
  }
  
  .contact {
    padding-right: 5px;
    border-right: 2px solid $gray;
  }
  
  .terms-link {
    padding-left: 5px;
  }
  
  .has-account {
    font-size: 14px;
    margin-top: 32px;
    margin-bottom: 30px;
  }
  
  .login-link {
    margin-left: 5px;
  }
  
  .error-warn {
    color: $red;
    font-size: 14px;
    margin-bottom: 30px;
  }
  
  .blue-link {
    font-size: 14px;
  }
  
  .error-link {
    color: $red;
    text-decoration: underline;
  }
  
  .warn {
    font-size: 14px;
    color: $gray;
    margin-top: 32px;
    margin-bottom: 2px;
  }
  
  .warn-next-step {
    margin-bottom: 30px;
  }
}

.email-loading {
  position: relative;

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: scale(0.3) translate(90px, 40px);
    position: absolute;
    right: 0;
    top: 10px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid $green;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $green transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}