@import '@app/styles/globals.scss';

.search-item {
  margin-top: 24px;
  padding: 32px 24px;
  background-color: $white;

  .search-item-desc {
    font-size: 14px;
    line-height: 16.5px;
    color: $black;
    white-space: pre-wrap;

    a {
      color: $black;
      text-decoration: underline;
    }
  }

  .search-item-date {
    margin: 8px 0 18px; 
    font-size: 14px; 
    line-height: 16.5px; 
    color: $gray4;

    span {
      text-decoration: underline;
    }
  }

  a {
    position: relative;
  }

  .arrow-link {
    position: absolute;
    right: -20px;
    top: 6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid $darkBlue;
  }
}