@import '/src/ui/utils/colors.scss';

.purchase-form {
  .MuiInputLabel-formControl {
    left: -12px !important;
    color: $gray4 !important;
    font-size: 16px;
  }

  .form-input .MuiInputLabel-formControl {
    top: 30px !important;
  
    &.Mui-focused, &.MuiFormLabel-filled {
      top: 34px !important;
    }
  }

  .half-width {
    width: calc(50% - 12px);
  }

  .full-width-mobile {
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }
  
  .form-select{
    .MuiSelect-select {
      margin-top: 5px;
      padding-bottom: 5px !important;
      padding-left: 2px !important;
      color: black !important;
    }
  
    .MuiInputLabel-formControl {
      top: 18px !important;
    
      &.Mui-focused, &.MuiFormLabel-filled {
        top: 16px !important;
      }
    }
  }
}