@import '@app/styles/globals.scss';

.date-pickers-container {
  position: relative;
}

.date-pickers {
  margin-top: 20px;

  .MuiFormControl-root {
    width: calc(50% - 8px);
  }

  input {
    padding-left: 4px;
  }

  .MuiInputLabel-formControl {
    top: 0px;
  
    &.Mui-focused, &.MuiFormLabel-filled {
      top: 5px;
    }
  }

  .MuiOutlinedInput-root {
    fieldset {
      border: none;
      border-radius: 0;
      border-bottom: 2px solid $gray;

      &.MuiOutlinedInput-notchedOutline {
        border-bottom: 2px solid $gray;
      }
    }
  }
}

.MuiDialogContent-root {
  fieldset {
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 2px solid $gray !important;
  }
}

.second-tab {
  margin-left: 16px;
}

.tab-class {
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 10px;
  border-bottom: 5px solid $white;
  transition: 0.4s;
}

.curr-tab-class {
  @extend .tab-class;
  border-bottom: 5px solid $blue;
}

.period-box-class {
  border: 1px solid $black;
  padding: 12px 14px 10px;
  margin-right: 8px;
  margin-top: 12px;
  transition: 0.4s;
}

.period-box-selected-class {
  @extend .period-box-class;
  background-color: $black;
  color: $white;
}

.disabled-box {
  background-color: $gray2;
  border-color: $gray2;
  color: $gray;
  cursor: not-allowed;

  &:hover {
    opacity: 1;
  }
}

.periods {
  margin: 10px 0 10px;
}

.error {
  color: $red;
  font-size: 14px;
  bottom: -22px;
  position: absolute;
}